<!--header for the page-->
<div id="savedHolder">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{#if articles}}
        {{#each articles}}
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{title}} </h4>
            <p class="card-text">{{blurb}}</p>
            <div holder>
              <a href="{{url}}" class="card-link">Full Article</a>
              <button type="button" id="{{_id}}" class="btn btn-danger save">Save</button>
            </div>
          </div>
        </div>
        {{/each}}
        {{else}}
          <h4>Looks like you have not scraped any articles</h4>
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{#if articles}}
<div id="myModal" class="modal" style="display:block">
  <!-- Modal content -->
  <div class="modal-content">
    <div>
      <h2>{{count}} articles were scraped.</h3>
        <button type="button" data-state="Close" id="close" type="submit"
          class="btn btn-secondary modalControl">Close</button>
    </div>
  </div>
</div>
{{/if}}
<div id="myModalSaved" class="modal" style="display:none">
  <!-- Modal content -->
  <div class="modal-content">
    <div>
      <h2> Your article was saved.</h3>
        <button type="button" data-state="Close" id="close" type="submit"
          class="btn btn-secondary modalControlSaved">Close</button>
    </div>
  </div>
</div>
</div>